<mat-card>
  <form class="example-form">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name " value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Age  " value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Date of Birth " value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address "></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Mobile No" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" value="">
    </mat-form-field>
    <div class="buttonalign">
    <div class="">
      <button mat-raised-button color="warn" placeholder=" " value="">CANCEL</button>
    </div>

    <div class="leftalign">
      <button mat-raised-button color="primary" value="">SUBMIT</button>
    </div>
    </div>
  </form>
  </mat-card>

