.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 35%;
}


.example-full-width {
  width: 100%;
}

.example-half-width {
  width: 50%;
}

.buttonalign{
  display:  -webkit-box;
}

.leftalign{
  margin-left: 66%;
}
