<mat-card>

    <mat-grid-list  cols="4" rowHeight="1:1">
      <mat-grid-tile><mat-card class="cardproperties"><img src="../assets/images/one.jpg" class="cardimages"/></mat-card></mat-grid-tile>

        <mat-grid-tile><mat-card class="cardproperties"><img src="../assets/images/two.jpg" class="cardimages"/></mat-card></mat-grid-tile>
      <mat-grid-tile><mat-video  controls><source matVideoSource   src="../assets/videos/first.mp4" type="video/mp4"></mat-video></mat-grid-tile>
        <mat-grid-tile><mat-video height="80%" width="80%" controls><source  matVideoSource src="../assets/videos/second.mov" type="video/mp4"></mat-video></mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
        <mat-grid-tile>9</mat-grid-tile>
        <mat-grid-tile>10</mat-grid-tile>
        <mat-grid-tile>11</mat-grid-tile>
        <mat-grid-tile>12</mat-grid-tile>
        <!--<mat-grid-tile>13</mat-grid-tile>
        <mat-grid-tile>14</mat-grid-tile>
        <mat-grid-tile>15</mat-grid-tile>
        <mat-grid-tile>16</mat-grid-tile>
        <mat-grid-tile>17</mat-grid-tile>
        <mat-grid-tile>18</mat-grid-tile>

        <mat-grid-tile>19</mat-grid-tile>
        <mat-grid-tile>20</mat-grid-tile>
        <mat-grid-tile>21</mat-grid-tile>
        <mat-grid-tile>22</mat-grid-tile>
        <mat-grid-tile>23</mat-grid-tile>
        <mat-grid-tile>24</mat-grid-tile>-->



      </mat-grid-list>
     <!-- <mat-grid-list cols="12" rowHeight="100px">

          <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color">

        {{tile.text}}

        </mat-grid-tile>


          <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color">

        {{tile.text}}

        </mat-grid-tile>

        <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">

      {{tile.text}}

      </mat-grid-tile>

      <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">

    {{tile.text}}

    </mat-grid-tile>

    <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">

  {{tile.text}}

  </mat-grid-tile>

  <mat-grid-tile
  *ngFor="let tile of tiles"
  [colspan]="tile.cols"
  [rowspan]="tile.rows"
  [style.background]="tile.color">

{{tile.text}}

</mat-grid-tile>

<mat-grid-tile
*ngFor="let tile of tiles"
[colspan]="tile.cols"
[rowspan]="tile.rows"
[style.background]="tile.color">

{{tile.text}}

</mat-grid-tile>

<mat-grid-tile
*ngFor="let tile of tiles"
[colspan]="tile.cols"
[rowspan]="tile.rows"
[style.background]="tile.color">

{{tile.text}}

</mat-grid-tile>
      </mat-grid-list>-->


</mat-card>
